@charset "UTF-8";

@import 'bourbon/bourbon';
@import 'normalize';
@import 'fontface';


/****************************************
 ----------------------------------------
 * VARIAVEIS *
 ----------------------------------------
 ****************************************/

$cor1: #222; // preto
$cor2: #dd1d47; // vermelho
$cor3: #dd4b1d; // laranja

$fonte-texto: 'Noto Serif',serif;
$fonte-titulos: 'Montserrat',sans-serif;

@mixin tam-container() {
	width: 1110px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;

	* {position: relative;}
}

@mixin tam-conteudo() {
	width: 800px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;

	* {position: relative;}
}

@mixin flex($dir) {
    @include display(flex);
    @include flex-wrap(wrap);
    @include flex-direction(row);
    @include justify-content($dir);
}


/****************************************
 ----------------------------------------
 * LAYOUT *
 ----------------------------------------
 ****************************************/

html {overflow-x: hidden}

body {
	background: #f9f9f9;
	font-size: 18px;
	line-height: 1.7;
	overflow-x: hidden; 
	font-family: $fonte-texto;
	font-weight: normal;
	color: $cor1;
}

a, a:link, a:hover, a:active, a:focus {
	color: $cor2;
	text-decoration: none;
}

////////////////////////////////////// CABECALHO
header {
	@include tam-container();
	background: $cor1;
	height: 170px;
	margin-bottom: 35px;

	&:before {
		content: "";
		position: absolute;
		background: $cor1;
		width: 100vw;
		height: 100%;
		left: 50%;
		@include transform(translateX(-50%));
	}

	a.marca {
		top: 50%;
		display: block;
		position: absolute;
		@include transform(translateY(-50%));

		img {max-height: 130px;}
	}
}

////////////////////////////////////// PRINCIPAL
main {
	padding-bottom: 80px;

	article{
		position: relative;
	}

	span.pagina{
		position: absolute;
		left: 20px;
		font-family: $fonte-titulos;
		color: #b3b3b3;
		font-size: 1.5em;
		line-height: 1.4;
		// font-weight: bold;
		@media (min-width: 1600px){
			font-size: 2vw;
		}

	}

	p, blockquote, ul, ol {
		@include tam-conteudo();
		margin-bottom: 25px;
		margin-top: 0;
		// text-align: justify;
		// hyphens: auto;
	}

	blockquote {
		padding-left: 100px;
		opacity: 0.9;
		font-size: 0.9em;

		p {max-width: 100%;}
	}

	ul, ol {
		list-style-type: square;
		
		li {
			position: relative;
			margin-bottom: 25px;

			&:before {
				content: "";
				width: 70px;
				height: 30px;
				position: absolute;
				top: 0;
				left: 0;
				background: lighten($cor1,80%);
				@include transform(translate(-50%));
				z-index: -1;
			}

			blockquote {
				max-width: 100%;

				p {width: 100%;}
			}
		}
	}

	h1, h2, h3, h4, h5 {
		@include tam-container();
		margin-top: 0;
		margin-bottom: 0;
		padding-top: 25px;
		padding-bottom: 25px;
		font-weight: bold;
		line-height: 1.4;
		font-family: $fonte-titulos;
		text-transform: uppercase;
		color: $cor1;
		z-index: 2;
		letter-spacing: 0.05em;
	}

	h1 {
		padding-top: 0;
		padding-bottom: 0;
		font-weight: 800;
		position: relative;

		&:before {
			content: "";
			width: 100px;
			height: 50px;
			position: absolute;
			top: 50%;
			left: -50px;
			background: lighten($cor1,75%);
			@include transform(translateY(-50%));
			z-index: -1;
		}

		& + h2, & + h3 { padding-top: 15px; }
		& + p, & + figure, & + table {padding-top: 50px;}
	}

	table {
		position: static;
		border-top: 2px solid lighten($cor1, 40%);
		border-bottom: 2px solid lighten($cor1, 40%);
		font-size: 0.8em;
		line-height: 1.4;
		@include tam-container();
		margin-top: 100px;
		margin-bottom: 100px;
		border-collapse: collapse;

		&.thead-fixo{
			background: #f9f9f9;
			position: fixed;
			top: 0;
			margin: 0;
			border-bottom: none;
			z-index: 2;
			display: none;
			caption{
				background: #f9f9f9;
			}
			tbody, tfoot{
				display: none;
			}
			&.db{
				display: table;
			}
		}


		caption{
			width: 100%;
			text-align: center;
		}

		td{
			&:first-child{
				text-align: left;
			}
		}

		th{
			
		}

		th, td{
			padding: 0.7em;
			text-align: center;
			&:first-child{
				padding-left: 1.4em;
			}

			&:last-child{
				padding-right: 1em;
			}
		}

		thead{
			background-color: lighten($cor1, 80%);

			tr{
				&:first-child{
					th{
						&:first-child{
							text-align: left;
						}
					}
				}
			}

			th{
				border-bottom: 1px solid lighten($cor1, 40%);
			}
		}

		tbody{
			tr{
				border-bottom: 1px solid transparentize(black, 0.8);
			}
		}

		tfoot{
			font-weight: bold;
			border-top: 1px solid lighten($cor1, 40%);
			background-color: lighten($cor1, 80%);
		}
	}

	section.imagens{
		margin: 50px 0;
		@include tam-container();
		@include display(flex);
		@include justify-content(center);
		a{
			color: white;
			display: block;
			position: relative;
			width: 300px;
			height: 300px;
			background-size: 100% 100%;
			@include transition(background-size 0.2s ease-in-out);
			background-position: center center;
			padding: 1em;
			margin-right: 1em;
			&:last-child{
				margin-right: 0;
			}
			&:before{
				content: '';
				position: absolute;
				top: 0; left: 0;
				width: 100%; height: 100%;
				background-color: transparentize($cor1, 0.35);
				@include transition(background-color 0.2s linear);
			}

			&:hover{
				background-size: 110% 110%;

				&:before{
					background-color: transparentize($cor1, 0.5);
				}
			}

			span.numero{
				display: block;
				position: absolute;
				top: 18px;
				left: 18px;
				font-family: $fonte-titulos;
				font-weight: bold;
				font-size: 1.2em;
				line-height: 1;
				text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
			}

			p{
				width: 100%;
				position: absolute;
				bottom: 0; left: 0;
				padding: 1em;
				font-size: 0.8em;
				line-height: 1.4;
				margin: 0;
				text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
			}
		}

		&.mais-de-3-anexos{
			@include justify-content(space-between);
			@include flex-wrap(wrap);
			a{
				width: 250px;
				height: 250px;
				margin-bottom: 1em;
			}
		}
	}
}


////////////////////////////////////// FOOTER
footer {
	width: 100%;
	height: 45px;
	background: $cor1;
	position: fixed;
	bottom: 0;
	color: #fff;

	& > div {
		@include tam-container();
		@include flex(space-between);
		line-height: 45px;

		a, a:link {
			color: #fff;
			font-family: $fonte-titulos;
			text-transform: uppercase;
			letter-spacing: 0.05em;

			&:hover {
				color: $cor3;
			}
		}
	}
}